<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 DevGenii. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="devgenii_socialconnect" frontName="socialconnect">
            <module name="DevGenii_SocialConnect" />
        </route>
    </router>
</config>