<div class="devgenii-socialconnect-container devgenii-socialconnect-container-checkout">
    <!--<?php if($block->facebookEnabled()): ?>-->
    <div class="devgenii-socialconnect-checkout-facebook">
        <p><!-- ko i18n: 'For quicker checkout you can login using your Facebook account.'--><!-- /ko --></p>
        Button!
        <div class="devgenii-facebook-connect-button">
            <div id="fb-root"></div>
            <div class="fb-login-button"
                 data-size="large"
                 data-autologoutlink="true"
                 data-show-faces="false"
                 data-auto-logout-link="false">
            </div>
        </div>
    </div>
    <!--<?php endif; ?>-->
</div>