<div class="devgenii-socialconnect-container devgenii-socialconnect-container-checkout">
    <div class="devgenii-socialconnect-checkout-facebook">
        <p><!-- ko i18n: 'For quicker checkout you can login using your Facebook account.'--><!-- /ko --></p>
        <div class="devgenii-facebook-connect-button">
            <div id="fb-root"></div>
            <div class="fb-login-button"
                 data-size="large"
                 data-show-faces="false"
                 data-auto-logout-link="false"
                 data-scope="public_profile,email,user_birthday"
                 data-bind="afterRender: afterRender" >
            </div>
        </div>
    </div>
</div>