<!--
/**
 * Copyright © 2016 DevGenii. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<div class="devgenii-socialconnect-checkout-facebook">
    <div class="block-title">
        <strong><!-- ko i18n: 'Facebook Connect'--><!-- /ko --></strong>
    </div>
    <div class="block-content">
        <p><!-- ko i18n: 'For faster checkout you can continue using your Facebook account.'--><!-- /ko --></p>
        <div class="devgenii-facebook-connect-button">
            <div id="fb-root"></div>
            <div class="fb-login-button"
                 data-size="large"
                 data-show-faces="false"
                 data-auto-logout-link="false"
                 data-scope="public_profile,email,user_birthday"
                 data-bind="afterRender: afterRender">
            </div>
        </div>
    </div>
</div>